@import "tailwindcss";
@import './landing.css';

/* Custom Utility jika diperlukan */
@theme {
    --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif;
    --font-heading: 'Nunito', sans-serif;
}

/* Biar Wave-nya selalu rapat ke bawah */
html, body {
    height: 100%;
    margin: 0;
}
